<div class="container">

<h2>Add Coupon</h2>

<form [formGroup]="couponForm" (ngSubmit)="addCoupon()">
    <mat-form-field apperance="outline" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formController="name" />
        <mat-error *ngIf="couponForm.get('name')?.hasError('required')">This Input is Required!</mat-error>
    </mat-form-field>

    <mat-form-field apperance="outline" class="form-field">
        <mat-label>Code</mat-label>
        <input matInput type="text" placeholder="Code" formController="code" />
        <mat-error *ngIf="couponForm.get('code')?.hasError('required')">This Input is Required!</mat-error>
    </mat-form-field>

    <mat-form-field apperance="outline" class="form-field">
        <mat-label>Discount %</mat-label>
        <input matInput type="number" placeholder="Discount" formController="discount" />
        <mat-error *ngIf="couponForm.get('discount')?.hasError('required')">This Input is Required!</mat-error>
    </mat-form-field>

    <mat-form-field apperance="outline" class="form-field">
        <mat-label>Expiration Date</mat-label>
        <input matInput [maatDatepicker]="picker" formController="expirationDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="couponForm.get('discount')?.hasError('required')">This Input is Required!</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Add Coupon</button>

</form>

</div>
