.container{
    display: flex;
    justify-content: center;
    padding-top: px;
}

mat-card{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table{
    width: 100%;
}

th.mat-header-cell{
    font-weight: bolder;
    color: #003973;
    padding: 10px;
}

td.mat-cell,
td.bold-cell{
    padding: 10px;
}

td.bold-cell{
    font-weight: bold;
}

.mat-elevation-row{
    background-color: #f5f5f5;
}

.mat-header-row{
    background-color: #0f0f0f;
}

.mat-paginator{
    background-color: #0f0f0f;
    border-radius: 0 0 10px 10px;
    margin-top: 16px; 
}