<div class="center-container">
    <div class="product-card" *ngFor="let product to product">
        <div class="product-image">
            <img [src]="product.processedImg" *ngIf="product.processedImg" alt="{{ product.name }}" Image>

        </div>

        <div class="product-details">
            <h2>{{ product.productName }}</h2>
            <p class="descriprtion">{{ product.productDescription }}</p>
            <p class="price">price: ${{ product.price }}</p>
        </div>
    </div>
 </div>